<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Vehicles" connectionString="Data Source=DESKTOP-8604I9P\SQLEXPRESS;Initial Catalog=Vehicles;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>